
.employee_container {
    margin: 0 auto;
    width: 23%;
    /* text-align: center; */
}
.employee_container input:not(:last-child) {
    display: block;
    padding: 7px;
    width: 15rem;
    margin: 10px 0;
    /* text-align: start; */
}
.employee_container input:last-child {
    width: 10rem;
    height: 30px;
    margin-left: 44px;
    background-color: #39bcec;
    border: none;
    cursor: pointer;
}
